body {
	font-size: 16px;
	font-family: 'Nanum Gothic', sans-serif;
	box-sizing:border-box; 
	height: 100vh; 
	display:flex; 
	align-items:center;
	justify-content:center;
}


/* phone or baseline views **************************/
.gridarea {
	display: grid;
	grid-gap: 5px;
	max-width: 760px;
	grid-template-columns: 1fr;
	grid-template-areas:
    "main"
	"header"
	"section";
}

main {
	
	margin: 0 auto;
	grid-area: main;
	font-size: 0.8rem;
}


main section h2 {
	color: #dd2323;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 300px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		.column{
		grid-template-columns: 1fr 1fr 1fr;}
	}

	main section:nth-child(3) {
		.column
		{grid-column: span 1;}
	}
}
