* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.box0 {
    display: grid;
   /* flex-wrap: wrap;*/
}

.box1 {
    flex: 1 /*100px*/;
    height: 100px;
    background-color: orange;
}

.box2 {
    flex: 1 /*100px*/;
    height: 100px;
    background-color: purple;
}

.box3 {
    flex: 1 /*100px*/;
    height: 100px;
    background-color: aqua;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}