// As hex codes */

$color-primary-0: #0B80DB;	// Main Primary color */
$color-primary-1: #7FA7C6;
$color-primary-2: #014274;
$color-primary-3: #FFFFFF;
$color-primary-4: #000000;

$color-complement-0: #FF9200;	// Main Complement color */
$color-complement-1: #FFD59D;
$color-complement-2: #B46700;
$color-complement-3: #FFFFFF;
$color-complement-4: #000000;