/* Desktop Views ****************************/
/*@media only screen and (min-width: 60em) {*/
@media only screen and (min-width: 992px) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}

	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}

	img.logo {
		/* (A) RESPONSIVE LOGO */
		width: 4rem;
		height: auto;
	   
		/* (B) RECOMMENDED - LIMIT MAXIMUM WIDTH */
		max-width: 250px;
	  }

	  header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
}

